body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display: grid;
  grid-template-columns: auto auto auto  auto auto auto;
  padding: 20px;
}
.search {
  padding: 10px;
  background-color: #8080804d;
  display: inline-block;
  width: 80%;
 
}
.search input {
  width: 200px;
  height: 10px;
  /* border-radius: 10px; */
  padding: 5px;
  margin: 0 20px;
}
.search label {
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  color: #FFF;
}

.card {
  background: #FFFFFF;
  width: 200px;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  overflow: hidden;
  margin: 30px;
  opacity: 0.8;
  /* padding: 50px; */
  /* height: 200px; */
}
.card:hover{
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);

  transition: opacity 0.15s ease-out;
}
.card-header {
  position: relative;
  background: #303841;
  height: 160px;
  text-align: center;
  overflow: hidden;
}
.card-header__avatar {
  background: #303841;
  background-position: center 30%;
  background-size: 100%;
  height: 100%;
  width: 100%;
}
.card-header__follow {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 6px 10px;
  color: #333333;
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
}
.card-content {
  text-align: center;
  padding: 15px 10px;
}
.card-content__username {
  margin: 0 0 10px;
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.card-content__username .badge {
  display: inline-block;
  background: #FCD000;
  border-radius: 2px;
  margin: 0 10px 0;
  padding: 4px;
  color: #333333;
  font-size: 10px;
  font-weight: 600;
  vertical-align: middle;
}
.card-content__bio {
  color: #666666;
  font-size: 12px;
}
.card-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F3F3F3;
  padding: 15px 40px;
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.card-footer .label {
  display: block;
  margin: 4px 0 0;
  color: #666666;
  font-size: 10px;
  font-weight: 400;
}

.code {
  background: rgba(0, 0, 0, 0.1);
  max-width: 600px;
  border-radius: 2px;
  margin: 40px auto 100px;
  font-family: monospace;
  overflow: hidden;
  overflow-x: auto;
}
.code:before {
  content: 'HTML Code';
  display: block;
  padding: 20px 20px 0;
  color: #333333;
  font-weight: 600;
}
.ul-list {
  list-style: none;
  background-color: gray;
  width: 288px;
  padding: 20px 0px;
  border-radius: 8px;
  max-height: 600px;
  overflow: hidden;
  overflow-y: scroll;

}
.li-list {
  padding: 5px 0;
  height: 50px;
  width: 100%;
  /* border-bottom: 2px solid #066; */
  margin: 10px 0px;
  /* background-color: #736f6f; */
  line-height: 50px;
  text-align: center;
  color: #FFF;
  border: 1px solid #FFF;
}

.lists li:hover {
  width: 100%;
  /* border-bottom: 2px solid #066; */
  cursor: pointer;
  background-color: #fff;
  color: gray;

}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #47ccde ;
  border-color: #47ccde ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #47ccde ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #47ccde ;
  border-color: #47ccde;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #47ccde
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

.btn-view {
  background-color: #FFF;
  padding: 4px 10px;
  border: 1.5px solid #5a6168;
  float: right;
  margin: 2px;
}

.btn-view:hover {
  background-color: #5a6168;
  color: #FFF;
  cursor: pointer;
}
.header {
  width: 100%;
  background-color:#5a6168 ;
  color: #FFF;
  
}
.pagination {
  display: inline-flex !important;
}

.pagination a,li {
  color: #5a6168 ;
}
.pagination a:active {
  color: #5a6168 !important;
}

.lists {
  display: flex;
}
.lists .card {
 width: 900px;
}
